
<center><img width="25%" src="https://www.camaramirimdoce.sc.gov.br/media/noticia/resumo-da-sessao-10-06-2019-111.png?w=848&h=450&t=P&c=f0f0f0&q=80&v=2"></center>

---

<br>

# **Códigos - Divisão de dados (Data Splitting)**

<br>

#### Este tutorial aborda como dividir dados em conjuntos de dados de teste (Por padrão: 20%) e treinamento (Por padrão: 80%).
#### Sem a divisão, os dados podem sofrer overfitting (Superajuste dos dados da população) ou underfitting (Subajuste dos dados da população) interferindo na análise. 

<br>

## Outra forma de realizar a divisão dos dados:
#### 1 - Dado originais = 100%
#### 2 - Exploração de dados = 80% e Dados para validação (Teste 1) = 20%
#### 3 - Exploração de dados >>> Dados de treinamentos = 80% e Dados para teste (Teste 2) = 20%

#### 1 - Importação dos dados (Conjunto de casas para alugar em diferentes cidades do Brasil)
> https://www.kaggle.com/datasets/rubenssjr/brasilian-houses-to-rent?resource=download

In [12]:
import pandas as pd

habitacao = pd.read_csv("houses_to_rent.csv")
display(habitacao)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

#### 2 - Crie o dataframe x com variáveis preditoras e o dataframe y com variável de resultado.

In [7]:
# X = Colunas = Recursos (Feature) = variáveis preditorias
# Y = Coluna de resultado = variavel de resultado
# linhas representa as amostras (observações)
df_X = habitacao.iloc[:,1:13]
df_X

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16
...,...,...,...,...,...,...,...,...,...,...,...,...
6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15
6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37
6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13
6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53
6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25

In [8]:
df_Y = habitacao.loc[:,"total"]
df_Y

0        R$9,121
1        R$1,493
2       R$12,680
3        R$2,116
4        R$1,257
          ...
6075     R$1,585
6076     R$3,768
6077     R$1,255
6078     R$3,803
6079     R$2,414
Name: total, Length: 6080, dtype: object

#### 3 - Realizando a divisão do conjunto de dados em Teste e em Treinamento

In [9]:
from sklearn.model_selection import train_test_split

# test_size=.2 é o tamanho da amostra do conjunto teste = 20% = 0.2 = .2
train_test_split(df_X,df_Y,test_size=.2)

[      city  area  rooms  bathroom  parking spaces floor     animal  \
 975      1    70      2         1               0     -      acept
 794      1    96      3         2               2    10      acept
 2772     0   411      4         5               4     -      acept
 1024     1   112      3         2               3     -      acept
 1573     1   153      4         3               3     3      acept
 ...    ...   ...    ...       ...             ...   ...        ...
 1949     1    66      1         1               1     4  not acept
 5007     1   113      2         2               1     6      acept
 2667     1    28      1         1               0     9  not acept
 5573     1    49      2         1               1     3      acept
 46       1   230      4         4               4     1      acept

           furniture      hoa rent amount property tax fire insurance
 975   not furnished      R$0     R$1,350          R$0           R$21
 794   not furnished  R$1,616     R$1,770        R$162           R$23
 2772  not furnished      R$0     R$5,500        R$667           R$83
 1024  not furnished      R$0     R$3,300         R$32           R$50
 1573  not furnished  R$2,500     R$5,500        R$700           R$70
 ...             ...      ...         ...          ...            ...
 1949  not furnished  R$2,077     R$1,600        R$349           R$21
 5007  not furnished  R$1,000     R$3,000         R$50           R$39
 2667      furnished    R$390     R$2,300         R$59           R$30
 5573      furnished    R$300     R$2,156          R$0            R$8
 46        furnished  R$2,300    R$13,500      R$1,084          R$172

 [4864 rows x 12 columns],
       city  area  rooms  bathroom  parking spaces floor     animal  \
 2648     1   108      3         2               2     3  not acept
 1872     1   180      3         3               2     4      acept
 692      1    98      2         2               2    29      acept
 2437     1    55      1         1               1     6      acept
 3961     1    54      2         2               1    12      acept
 ...    ...   ...    ...       ...             ...   ...        ...
 3185     1    48      1         1               2    15  not acept
 656      1    30      1         1               1     6      acept
 4007     1    20      1         1               0     -      acept
 1172     1   130      3         1               1     -      acept
 1295     1    42      2         1               1    18      acept

           furniture      hoa rent amount property tax fire insurance
 2648  not furnished    R$823     R$3,000        R$350           R$39
 1872  not furnished  R$2,100     R$8,000        R$413          R$102
 692   not furnished  R$1,450     R$8,500        R$450          R$108
 2437  not furnished    R$437     R$1,600          R$0           R$21
 3961  not furnished    R$954     R$2,800        R$192           R$36
 ...             ...      ...         ...          ...            ...
 3185      furnished  R$2,121     R$6,800        R$400           R$87
 656   not furnished  R$1,900     R$2,001        R$125           R$26
 4007      furnished    R$602     R$1,800        R$130           R$23
 1172  not furnished      R$0     R$2,000          R$0           R$31
 1295  not furnished    R$500     R$1,200          R$0           R$16

 [1216 rows x 12 columns],
 975      R$1,371
 794      R$3,571
 2772     R$6,250
 1024     R$3,382
 1573     R$8,770
           ...
 1949     R$4,047
 5007     R$4,089
 2667     R$2,779
 5573     R$2,464
 46      R$17,060
 Name: total, Length: 4864, dtype: object,
 2648     R$4,212
 1872    R$10,620
 692     R$10,510
 2437     R$2,058
 3961     R$3,982
           ...
 3185     R$9,408
 656      R$4,052
 4007     R$2,555
 1172     R$2,031
 1295     R$1,716
 Name: total, Length: 1216, dtype: object]

#### 4 - Salvando as informações nas determinadas variáveis

In [10]:
X_train, X_test, y_train, y_test = train_test_split(df_X,df_Y,test_size=.2)

#### Adicione um parâmetro opcional para definir uma semente. <br>
##### random_state defini a semente para garantir que obterá a mesma divisão todas as vezes, ou seja, 
##### Ter certeza que não está dividindo aleatóriamente, mas que está dividindo da mesma maneira todas as vezes
##### 1337 é um número qualquer de semente

In [11]:
X_train, X_test, y_train, y_test = train_test_split(df_X,df_Y,test_size=.2, random_state = 1337)